*.pyc
/dist/
/*.egg-info

/htmlcov/

__pycache__/
*.py[cod]
*Spy.class

# pytest
htmlcov/
.coverage
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis
.pytest_cache/

__init__.pg